@model List<ASBM.Models.BillAllotementModel>

<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="dataHead">
            <th>SL</th>
            <th>Docket No</th>
            <th>Department Name</th>
            <th>Officer Name</th>
            <th>Bill Allotement Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int rows = 1;}
        @if (Model != null && Model.Count > 0)
        {
            foreach (var obj in Model)
            {
                <tr class="inAc" style="color: black;font-size: 13px !important;">
                    <td>@rows</td>
                    <td>@obj.bill_allotement_docket_no</td>
                    <td>@obj.department_name</td>
                    <td>@obj.officer_name</td>
                    <td>@obj.bill_allotement_date.ToShortDateString()</td>
                    <td>
                        <center>
                            <a href="javascript:void(0)" id="BtnEdit" data-id="@obj.bill_allotement_id_pk" class="BtnClEditPoUp"><i class="fa fa-edit"></i></a>
                            <a href="javascript:void(0)" id="BtnDelete" data-id="@obj.bill_allotement_id_pk" class="BtnDeletePoUp"><i class="fa fa-trash"></i></a>
                        </center>
                    </td>
                </tr>
                rows++;
            }
        }
    </tbody>
</table>


