@model List<ASBM.Models.BillSubmission>

<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="dataHead">
            <th>SL</th>
            <th>Docket NO</th>
            <th>Bill Type</th>
            <th>Company Category</th>
            <th>Company Name</th>
            <th>Department</th>
            <th>Fund Name</th>
            <th>Pan No</th>
            <th>GST No</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int rows = 1;}
        @if (Model != null && Model.Count > 0)
        {
            foreach (var obj in Model)
            {
                <tr class="inAc" style="color: black;font-size: 13px !important;">
                    <td>@rows</td>
                    <td>@obj.bill_docket_no</td>
                    <td>@obj.typeof_bill_name</td>
                    <td>@obj.bill_category_id_fk</td>
                    <td>@obj.bill_company_name</td>
                    <td>@obj.department_name</td>
                    <td>@obj.fund_scheme_name</td>
                    <td>@obj.bill_pan</td>
                    <td>@obj.bill_gst</td>
                    <td>
                        <center>
                            <a href="javascript:void(o)" id="BtnEdit" data-id="@obj.bill_details_id_pk" class="BtnClEditPoUp"><i class="fa fa-edit"></i></a>
                            <a href="javascript:void(o)" id="BtnDelete" data-id="@obj.bill_details_id_pk" class="BtnDeletePoUp"><i class="fa fa-trash"></i></a>
                        </center>
                    </td>
                </tr>
                rows++;
            }
        }
    </tbody>
</table>


