@model ASBM.Models.MultipleModel

<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr class="dataHead">
            <th>ID</th>
            <th>Officer Name</th>
            <th>Department Name</th>
            <th>Officer Mobile No</th>
            <th>Officer Pan</th>
            <th>Officer GPF</th>
            <th>User Type</th>
        </tr>
    </thead>
    <tbody>
        @{ int rows = 1;}
        @if (Model != null && Model.officerList != null && Model.officerList.Count > 0)
        {
            foreach (var obj in Model.officerList)
            {
                <tr class="inAc" style="color: black;font-size: 13px !important;">
                    <td>@rows</td>
                    <td>@obj.officer_name</td>
                    <td>@obj.department_name</td>
                    <td>@obj.officer_mobile</td>
                    <td>@obj.officer_pan</td>
                    <td>@obj.officer_gpf</td>
                    <td>@obj.user_type_name</td>
                </tr>
                rows++;
            }
        }
    </tbody>
</table>


